.footer{
    padding:50px 20px;
    margin:0px 40px;
    color:#616161;
    margin-top: 50px;
}

.footer__main{
    display:flex;
    justify-content: space-between;
}
.footer__question{
    margin-bottom: 5px;
}

ul{
    margin:20px 0;
}

ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

ul li a{
    color:#616161;
    
    text-decoration: none;
    font-size: 14px;
}

ul li a:hover{
    text-decoration: underline;
}